.feedbox{
	position: relative;
	padding: 56px;
	background-image: url();
}
#punch{
	color: black;
	position: sticky;
	margin: 14vh 12vh;
	text-shadow: 8px 8px 8px silver;
}
#fcontent{
	font-size: 16px;

}
#feedbox{
	margin: 5px 40px;
	position: absolute;
	background-color:white; 
	height: 100%;
	width: 100%;
	border-width: 3px;
	border-radius: 8px;
	background-color: lightgray;

}