h2{
	font-family: sans-serif,poppins,arial;
	font-size: 32px;
	margin-left: 15px;
}
header{

	position:static; ;
	background-color: #07c0f5;
}
a{
	font-size: 16px;
	text-decoration: none;
}
li{
	display: inline-block;
	list-style:none;
	padding: 0px 30px;
	text-decoration: none;
}
html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 98vh;
}
footer{
	position:static;
	padding: 10px;
	left:0px;
	background-color:#07c0f5; 
	text-align: right;
	
	margin-top: auto;

}
.popupcontainer{
	display: none;
	position: fixed;
	margin: auto;
	width:260px;
	height:238px;
	border-radius: 7px;
	background-color:transparent;
	border-width: 0px;
	border-style:solid;
	border-color: black;
	color:black;
	box-shadow: 4px 4px 32px black;

}

.background{
	min-height:0vh;
	justify-content: center;
	
}
.background::before{
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	content:'';
	background-image: url(img/background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.38;

	}
.contianer{
			position: relative;
			margin: auto;
			width:260px;
			height:238px;
			border-radius: 7px;
			background-color:transparent;
			border-width: 0px;
			border-style:solid;
			border-color: black;
			color:black;
			box-shadow: 4px 4px 32px black;
		}
.homebar{
	color: black;
	font-family:sans-serif,Georgia,arial;
	text-transform: uppercase;
	float:right;
	text-shadow: 6px 3px 30px;
	
}
#welcome{
	font-style: italic;
	font-size: 52px;
	margin-left: 16px;
	text-shadow: 18px 16px 14px silver;
}
#help{
	font-family: sans-serif,arial;
	font-size: 17px;

}



